<div class="sb-flex sb-flex-col sb-md:flex-row">
    <form class="quiz-search-form sb-flex-col sb-gap-2 sb-mb-4 sb-mr-4" role="search" aria-label="Search for Tutorial Names to Include">
        <div class="sb-flex sb-flex-grow sb-h-full"></div>
        <label for="quiz-search-input" class="sb-text-sm sb-font-medium sb-white-50 sb-whitespace-nowrap">
            Search For Tutorial Names to Include:
        </label>
        <input type="text"
               id="quiz-search-input"
               name="q_search"
               class="sb-input sb-input-primary sb-flex-grow"
               placeholder="Tutorial Name..."
               hx-get="{% url 'questions:htmx_search_tutorial_titles' %}"
               hx-trigger="keyup changed delay:500ms"
               hx-target="#tutorial-name-pills-container"
               hx-swap="innerHTML"
               hx-indicator="#tutorial-loading-indicator" />
        <div class="sb-flex sb-flex-grow sb-h-full"></div>
    </form>
    <div class="sb-flex-grow sb-w-full sb-mb-2">
        <div id="tutorial-loading-indicator" class="htmx-indicator sb-text-center sb-p-2">
            <span class="sb-text-sm sb-black-50">Searching...</span>
        </div>
        <div id="tutorial-name-pills-container">
            {% include 'questions/partials/pills/_tutorial_pills_container.html' with tutorial_titles=initial_title_names %}
        </div>
    </div>
</div>
