{% comment %} questions/templates/questions/partials/_question_text_htmx.html {% endcomment %}
{% load spellbook_tags %}

<h4 class="sb-text-lg sb-font-semibold sb-mb-2">{{ question.question_text }}</h4>
            
<div class="sb-text-sm sb-black-75 sb-mb-1">
    <strong>Tutorial:</strong> {{ question.tutorial_title.name|default:question.tutorial_title.title_id_slug }}
</div>
<div class="sb-text-sm sb-black-75 sb-mb-1">
    <strong class="sb-mr-1">Difficulty:</strong> 
    <span class="question-difficulty
    sb-badge sb-badge-primary-outline
    
    ">
    <div class="sb-text-center sb-w-full">
    {{ question.get_difficulty_display }}
    </div>
</span>
</div>

{% if question.tags.all %}
    <div class="sb-text-sm sb-black-75 sb-mb-2"> 
        <div class="question-tag-container sb-flex sb-flex-wrap sb-items-baseline sb-gap-x-2 sb-gap-y-1"> 
            <strong class="sb-mr-2">Tags:</strong> 
            {% for tag in question.tags.all %}
                <span class="question-tag sb-badge sb-badge-secondary-outline">{{ tag.name }}</span>
            {% endfor %}
        </div>
    </div>
{% endif %}