<footer>
    <div class="footer-container">
      <div class="footer-content">
        <div class="footer-section">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h3>Connect</h3>
          <ul>
            <li><a href="https://github.com/smattymatty">GitHub</a></li>
            <li>
              <a href="https://techhub.social/@smattymatty">Mastodon</a>
            </li>
            <li>
              <a href="https://www.youtube.com/@MatHEWStorm">YouTube</a>
            </li>
          </ul>
        </div>

        <div class="footer-section">
          <h3>Contact Info</h3>
          <address>
            <p>
              Email:
              <a href="mailto:MathewStormDev@gmail.com"
                >MathewStormDev@gmail.com</a
              >
            </p>
          </address>
        </div>
      </div>

      <div class="footer-bottom">
        <p>
          &copy; <span id="current-year">2024</span> Mathew Storm Dev. All
          rights reserved.
        </p>
        <p>
          <!-- 
          <a href="/privacy-policy">Privacy Policy</a> |
          <a href="/terms-of-service">Terms of Service</a>
          -->
        </p>
      </div>
    </div>
  </footer>