<header>
    <nav>
      <div class="nav-container">
        <div class="first-nav-container">
          <h1 class="nav-title" id="home">Mathew Storm</h1>
          <div class="social-logos" aria-label="Social Media Links">
            <a
              href="https://github.com/smattymatty"
              aria-label="Visit my GitHub profile"
            >
              <img
                src="https://www.svgrepo.com/show/512317/github-142.svg"
                alt="GitHub"
              />
            </a>
            <a href="https://techhub.social/@smattymatty">
              <img
                src="https://www.svgrepo.com/show/333570/mastodon.svg"
                alt="Mastodon Logo"
              />
            </a>
            <a href="https://www.youtube.com/@MatHEWStorm"
              ><img
                src="https://icons.iconarchive.com/icons/aniket-suvarna/box-logo/256/bxl-youtube-icon.png"
                alt="Youtube Logo"
              />
            </a>
            <a>
              <img
                src="https://www.svgrepo.com/show/479055/question-mark-outline.svg"
                alt="Python Logo"
              />
            </a>
          </div>
        </div>
        <div class="nav-links" role="navigation">
          <button id="projects" aria-label="View Projects">Projects</button>
          <button id="about" aria-label="About Me">About</button>
          <button id="blog" aria-label="Blog">Blog</button>
        </div>
      </div>
    </nav>
  </header>