{% extends 'A_base/sb_base.html' %}

{% block spellbook_md %}
<h2 id="welcome-to-my-blog">Welcome to my Blog</h2>
<p>This is my blog page.</p>
<p>Visit my <a href="/questions/">Interactive Questions Page</a> (WORK IN PROGRESS!) to test your knowledge.</p>
<h2 id="topics">Topics</h2>
<div class="sb-accordion ">
    <button class="sb-accordion-toggle" aria-expanded="true" onclick="this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') === 'true' ? 'false' : 'true');">
        <span class="sb-accordion-title">Conquering the Chaos of Coding with C</span>
        <span class="sb-accordion-icon">
            <svg class="sb-icon-plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            <svg class="sb-icon-minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </span>
    </button>
    <div class="sb-accordion-content" aria-hidden="false">
        <div class="sb-accordion-body">
            <p><a href="/blog/C_Programming/Strings/daedalus-strings-01/">01 - Introduction to C</a><br />
<em>Learn the basics of C programming</em></p>
        </div>
    </div>
</div>

<div class="sb-accordion ">
    <button class="sb-accordion-toggle" aria-expanded="false" onclick="this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') === 'true' ? 'false' : 'true');">
        <span class="sb-accordion-title">Digital Sovereignty &amp; The Open Web</span>
        <span class="sb-accordion-icon">
            <svg class="sb-icon-plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            <svg class="sb-icon-minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </span>
    </button>
    <div class="sb-accordion-content" aria-hidden="true">
        <div class="sb-accordion-body">
            <p><a href="/blog/Digital_Sovereignty/fediverse-canadian-sovereignty/">Is the Fediverse the Key to Canadian Digital Sovereignty?</a><br />
<em>Exploring how decentralized networks could secure Canada's digital future</em></p>
        </div>
    </div>
</div>
{% endblock %}